<div class="post">
    <h1 class="post-title">{{artData.title}}</h1>
    <div class="post-meta">{{artData.addTimeObj}}<span> | </span><span class="category"><a
            href="/categories/emotion/">{{artData.category.name}}</a></span>
        <span id="busuanzi_container_page_pv" style="display: inline;"> | <span
                id="busuanzi_value_page_pv">{{artData.count}}</span><span> Hits</span></span></div>
    <a data-disqus-identifier="emotion/sin-edict.html" href="/emotion/sin-edict.html#disqus_thread"
       class="disqus-comment-count">6条评论</a>
    <div class="post-content markdown-body">
        {{{artData.htmlContent}}}
    </div>
</div>